/*******SETUP********/

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
}
/*******HEADER*******/

header {
    display: flex;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgb(255, 255, 90);
    border-bottom: 1px solid #000;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

nav p {
    padding-left: 20px;
    font-size: 20px;
}

/********ASIDE******/
aside {
    margin-left: 5%;
    display: flex;
    margin-top: 60px;
    order: 1;
}
/*********ad*********/
.ad {
    display: flex;
    border: 1px solid #000;
    height: 450px;
    align-items: center;
    background-color: rgba(190, 20, 111, 0.71);
    padding: 0 10px;
    margin: 10px;
    width:300px;
}

/**********MAIN********/
main {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top:70px;
    order: 2;
}

/********title******/
.title {
    border: 1px solid #000;
    border-radius: 30px;
    margin: 10px;
    background-color: rgba(0, 124, 0, 0.49);
    flex-basis: 90%;
    text-align: center;
}

/******articles*****/
article {
    float:right;
    border: 1px solid #000;
    flex: 1 0 20%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(135, 206, 235, 0.9);
    order: 3;
}

article h3 {
    text-align: center;
}

/*******footer*****/
footer {
    margin-top: 10px;
    order: 4;
    flex: 90%;
    float: right;
    margin: 10px;
}

.foot {
    border: 1px solid #000;
    border-radius: 30px;
    background-color: deepskyblue;
    text-align: center;
}

/******QUERIES*********/
@media all and (max-width: 989px) {
    article {
        flex: 1 0 40%;
    }
    aside {
        display: none;
    }
    
    footer {
        margin:0;
    }
    .foot {
        border-radius: 0;
        border-top: 1px solid #000;
    }
